# ==========================================
# 🤖 DISCORD BOT CREDENTIALS
# ==========================================
DISCORD_TOKEN=masukkan_token_bot_di_sini
CLIENT_ID=masukkan_client_id_bot_di_sini

# Pisahkan dengan koma jika ada lebih dari 1 owner (contoh: 111,222)
OWNER_IDS=ID_DISCORD_ANDA_DISINI

# ==========================================
# 🍃 MYSQL DATABASE SETTINGS
# ==========================================
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=password_database_anda
MYSQL_DATABASE=naura_db

# ==========================================
# 🛡️ MODMAIL & SERVER STAFF SETTINGS
# ==========================================
STAFF_GUILD_ID=masukkan_id_server_staff_disini
MODMAIL_CATEGORY_ID=masukkan_id_kategori_modmail_disini

# ==========================================
# 🎵 LAVALINK SETTINGS
# ==========================================
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
